name: Alloy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Cache ktlint
        uses: actions/cache@v4
        with:
          path: ktlint
          key: ktlint-${{ runner.os }}-${{ hashFiles('.github/workflows/*.yml') }}

      - name: Install ktlint
        run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/latest/download/ktlint
          chmod a+x ktlint

      - name: Run ktlint
        run: ./ktlint '**/*.kt'

